
    <link rel="icon" href="{{url_for('static',filename='assets/favicon.ico')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/common.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{{url_for('static',filename='js/ie8-responsive-file-warning.js')}}"></script><![endif]-->
    <script src="{{url_for('static',filename='js/ie-emulation-modes-warning.js')}}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{url_for('static',filename='js/html5shiv/html5shiv.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/respond.js/respond.min.js')}}"></script>
    <![endif]-->