{% extends "page.html" %}

{% block page_title %}用户列表{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>用户</h1>
</div>
<div class="content">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>账号</th>
        <th>姓名</th>
        <th>密码</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for item in page_context.list %}
      <tr>
        <td>{{ item['id'] }}</td>
        <td>{{ item['name'] }}</td>
        <td>{{ item['name'] }}</td>
        <td>{{ item['password'] }}</td>
        <td>
          <span type="button" class="btn btn-primary btn-sm">修改</span>
          <span type="button" class="btn btn-default btn-sm">删除</span>
          <span type="button" class="btn btn-default btn-sm">重置密码</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}